body {
  font-family: 'VT323', monospace;
  text-align: center;
}

ul {
  font-size: 16px;
}

.demandContainer {
  width: 80%
  margin: 0 auto;
}

.button {
  border: 1px solid;
}

#submitText{
  border: 1px solid;
}
